<% include partials/header %>

<h1>Add a New Blog</h1>

<form action="/blogs" method='POST'>
   <input type="text" placeholder='Add New Title' name='newTitle'>
   <button>Submit</button>
</form>

<% include partials/footer %>